.button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 2.1rem;
    color: white;
    background-color: black;
    cursor: pointer;
}
.learn-more {
    display: inline;
    background-color: transparent;
    border: 2px solid yellow;
    border-radius: 10px;
    font-size: 1.7rem;
    color: black;
}
.add-btn {
    margin-top: 10px;
}
.edit {
    display: inline;
    font-size: 1.2rem;
    float: right;
}
.save-pdf {
    margin-left: auto;
    margin-right: -20px;
}