.button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 2.1rem;
    color: white;
    background-color: black;
    cursor: pointer;
}
.learn-more {
    display: block;
    background-color: transparent;
    border: 2px solid yellow;
    border-radius: 10px;
    font-size: 1.7rem;
    color: black;
}