.btn {
    padding: 5px 10px;
    cursor: pointer;
}
.transparent {
    display: inline;
    background-color: transparent;
    border: 2px solid yellow;
    border-radius: 10px;
    font-size: 1.7rem;
    color: black;
}
.primary {
    font-size: 2.1rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}
.size {
    display: inline;
    font-size: 1.2rem;
    float: right;
}
.margin {
    margin-right: -20px;
}
.marginTop {
    margin-top: 10px;
}